.CategoryList {
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    display: flex;
    justify-content: space-between;
  }
  
  .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
  .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color:#6b8e3f;
    color: white;
  }
  
  .CategoryList li.active {
    color: #6b8e3f;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
  }